/* General Form Styles */

@use "../../variables/colors" as c;
@use "../../utils/mixins" as m;
@import "../../globals/fonts";
@import "../../globals"; /* Import the globals to access .image-overlay class */

$primary-100: map-get(map-get(c.$colors, primary), 100);
$primary-200: map-get(map-get(c.$colors, primary), 200);
$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-800: map-get(map-get(c.$colors, secondary), 800);

.form {
  width: 90%;
  border: 3px solid $primary-300;
  border-radius: 1.875rem;
  color: $primary-300;

  @include m.breakpoint-up("sm") {
    width: 60%;
  }

  &__image-form {
    width: 100%;

    &__image-container {
      background-color: $primary-100;
      border-radius: 0.938rem;
      display: flex;
      justify-content: center;
      &:hover .image-overlay,
      &:focus .image-overlay {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__input-field {
    background-color: $primary-100;
    color: $primary-300;
    width: 100%;
    border-radius: 0.938rem;
    font-size: 1.15rem;
    padding: 1rem;
    resize: none;
    &:focus {
      outline: none;
      border: 0.15rem solid $primary-300;
    }

    // Autofill styles
    &:-webkit-autofill {
      font-family: $josefin-sans;
      background-color: $primary-100 !important;
      color: $primary-300 !important;
      transition: background-color 5000s ease-in-out 0s;
    }

    &:-moz-autofill {
      background-color: $primary-100 !important;
      color: $primary-300 !important;
    }

    &:-ms-autofill {
      background-color: $primary-100 !important;
      color: $primary-300 !important;
    }

    &:autofill {
      background-color: $primary-100 !important;
      color: $primary-300 !important;
    }

    &--text-center {
      text-align: center;
    }

    &--confirmation {
      width: 50%;
    }
  }

  &__reset {
    &:hover,
    &:focus {
      color: $primary-200;
    }
  }

  &__avatars {
    width: 100%;
    flex-wrap: wrap;

    @include m.breakpoint-up("md") {
      flex-wrap: nowrap;
    }

    &__icon {
      svg {
        width: 5rem;
        height: 5rem;
      }

      transition: 0.3s ease-in-out;
      &:hover,
      &:focus {
        cursor: pointer;
        transform: translateY(-0.625rem);

        ellipse {
          filter: drop-shadow(0 0.25rem 0.5rem rgba(179, 167, 144, 0.8));
        }
      }
    }
  }

  &__add-image {
    height: 15.25rem;
    width: 21.313rem;
    object-fit: contain;
    background-color: $primary-100;
    transition: 0.3s background-color ease-in-out;

    &:hover,
    &:focus {
      background-color: $secondary-800;
    }

    &--upload {
      border-radius: 0.938rem;
      &:hover,
      &:focus {
        background-color: $primary-100;
      }
    }
  }
}

.selected {
  ellipse {
    stroke: $primary-300;
    stroke-width: 3;
  }
}

.form-dropdown {
  background-color: $primary-100;
  color: $primary-300;
  border-radius: 0.938rem;

  &__option {
    transition: 0.3s font-weight ease-in-out, 0.3s font-size ease-in-out;

    &:hover,
    &:focus {
      font-weight: 900;
      font-size: 130%;
    }
  }
}
