/* Add-Image-Container Styles */

@use "../../variables/colors" as c;
@use "../../utils/mixins" as m;

$secondary-900: map-get(map-get(c.$colors, secondary), 800);

.add-image {
  width: 22.063rem;
  height: 22.063rem;
  border-radius: 1.875rem;
  transition: 0.3s background-color ease-in-out;

  @include m.breakpoint-up("md") {
    width: 14rem;
    height: 16rem;
  }

  &:hover {
    background-color: $secondary-900;
  }

  &--long {
    width: 22.063rem;
    height: 22.063rem;
  }
}
