/* Pagination Styles */

@use "../../variables/colors" as c;

$primary-100: map-get(map-get(c.$colors, primary), 100);

.pagination {
  &__current-page {
    width: 4rem;
    height: 4rem;
    border-radius: 180%;
    span {
      font-size: 1.5rem;
    }
  }

  &__arrow--lighter {
    svg {
      path {
        fill: #ffffff;
      }
    }
  }
}
