/* About Page Styles */

@use "../utils/mixins" as m;
@use "../variables/colors" as c;

$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-500: map-get(map-get(c.$colors, secondary), 500);

.about {
  &__text {
    width: 80%;
    border-radius: 1.25rem;
    margin-top: 10rem;
    margin-bottom: 10rem;
    text-align: justify;

    @include m.breakpoint-up(sm) {
      width: 65%;
    }
  }
}
