/* Image Gallery Page Styles */

.image-gallery {
  &__sorting {
    .btn--sort {
      transition: background-color 0.3s ease, transform 0.3s ease;

      &:hover {
        background-color: $secondary-200;
      }
    }
  }
  &__images {
    &__li {
      height: 10.469rem;
      border-radius: 1.875rem;
      transition: transform 0.5s ease, box-shadow 0.3s ease;
      &:hover {
        transform: translateY(-0.625rem); // Move the card up on hover
      }
    }
    &__image {
      object-fit: cover;
    }
  }
}
