/* Landing Page Styles */

@use "../utils/mixins" as m;
@use "../variables/colors" as c;

.landing-page {
  &__main {
    width: 90%;
    border-radius: 1.875rem;
    padding: 5rem;

    @include m.breakpoint-up(sm) {
      width: 85%;
    }

    &__text {
      padding: 3rem;
      border-radius: 1.875rem;
      margin-top: 1.5rem;
    }
  }
}
