/* Plan Page Styles */

@use "../utils/mixins" as m;
@use "../variables/colors" as c;

$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-400: map-get(map-get(c.$colors, secondary), 400);
$secondary-500: map-get(map-get(c.$colors, secondary), 500);
$secondary-700: map-get(map-get(c.$colors, secondary), 700);
$secondary-900: map-get(map-get(c.$colors, secondary), 900);

.plan-page {
  &__schedule {
    width: 100%;

    @include m.breakpoint-up("sm") {
      width: 60%;
      border-radius: 1.25rem;
    }

    &__images {
      &__image {
        width: 24.063rem;
        height: 24.063rem;
        border-radius: 1.875rem;
        object-fit: contain;
        opacity: 1;
        transition: 0.5s ease;
      }
    }
  }
}
