/* Plan Page Styles */

@use "../utils/mixins" as m;
@use "../variables/colors" as c;

$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-400: map-get(map-get(c.$colors, secondary), 400);
$secondary-500: map-get(map-get(c.$colors, secondary), 500);
$secondary-700: map-get(map-get(c.$colors, secondary), 700);
$secondary-900: map-get(map-get(c.$colors, secondary), 900);

.plan-page {
  &__schedule {
    width: 100%;

    @include m.breakpoint-up("sm") {
      width: 70%;
      border-radius: 1.25rem;
    }

    @include m.breakpoint-up("md") {
      width: 98%;
      border-radius: 1.25rem;
    }

    &__images {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      @include m.breakpoint-up("md") {
        flex-direction: row;
      }

      &__list-item {
        position: relative; /* Ensure positioning context for the overlay */
        width: 20.063rem;
        height: 20.063rem;
        border-radius: 1.875rem;
        opacity: 1;
        transition: 0.5s ease;

        @include m.breakpoint-up("sm") {
          width: 22.063rem;
          height: 22.063rem;
        }

        @include m.breakpoint-up("md") {
          width: 14rem;
          height: 16rem;
        }

        &:hover .image-overlay {
          opacity: 1; /* Show overlay only on hovered item */
          pointer-events: auto;
        }

        &__image {
          width: 22.061;
          height: 14.704rem;
          object-fit: contain;
          @include m.breakpoint-up("md") {
            height: 10rem;
            width: 100%;
          }
        }
      }

      .image-overlay {
        opacity: 0; /* Start hidden */
        background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1.875rem;
        transition: opacity 0.5s ease;
        pointer-events: none;
      }
    }
  }
}
