/* Footer Styles */

@use "../../variables/colors" as c;

$primary-100: map-get(map-get(c.$colors, primary), 100);
$primary-200: map-get(map-get(c.$colors, primary), 200);
$primary-300: map-get(map-get(c.$colors, primary), 300);

.footer {
  color: $primary-100;
  padding: 2rem;
  border-top: 2px solid $primary-300;
  margin-top: 20rem;

  &__inner {
    width: 95%;
    border: 2px solid $primary-300;
    border-radius: 1.875rem;
    &__contact {
      transition: transform 0.3s ease-in-out;

      &:hover {
        font-weight: 900;
        transform: translateY(-0.1rem);
        text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      }
    }
  }

  &__social-media-links {
    a {
      cursor: pointer;
      .social-media-icon-background {
        transition: fill 0.3s ease-in-out;

        &:hover,
        &:focus {
          fill: $primary-300;
        }
      }
    }
  }
}
