/* Main Button Styles */

@use "../../variables/colors" as c;
@use "../../utils/mixins" as m;

/* Button Colors */
$primary-50: map-get(map-get(c.$colors, primary), 50);
$primary-200: map-get(map-get(c.$colors, primary), 200);
$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-200: map-get(map-get(c.$colors, secondary), 200);
$secondary-300: map-get(map-get(c.$colors, secondary), 300);
$secondary-500: map-get(map-get(c.$colors, secondary), 500);

.btn {
  width: 8rem;
  border-radius: 3.125rem;
  padding: 1rem 2rem 1rem 2rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;

  &--primary {
    border: 1px solid $primary-300;
    &:hover {
      background-color: $secondary-200;
    }
  }
  &--secondary {
    background-color: $primary-300;
    border: 1px solid $primary-300;
    color: $primary-50;
    &:hover {
      background-color: $secondary-300;
    }
  }

  &--sort {
    border: 1px solid $primary-300;
    background-color: $primary-50;
    &:hover {
      background-color: $secondary-200;
    }
    @include m.breakpoint-down("sm") {
      font-size: 0.8rem;
      width: 7rem;
    }
  }

  &--submit {
    background-color: $primary-300;
    color: $primary-50;
    font-size: 1.25rem;
    width: 9.9375rem;
    height: 4rem;
    border-radius: 0.9375rem;
    border: 1px solid $primary-300;
    margin: 1.25rem 0 0 0;
    &:hover,
    &:focus {
      background-color: $secondary-300;
      color: $primary-50;
    }

    &--danger {
      border: none;
      background-color: #d9534f;
      width: 12rem;
      padding: 0;
      &:hover,
      :focus {
        background-color: #a8403c;
      }
    }
  }

  &--clear {
    background-color: #94b3b3;
    color: $primary-50;
    font-size: 1.25rem;
    width: 12rem;
    height: 4rem;
    border-radius: 0.9375rem;
    margin: 1.25rem 0 0 0;
    padding: 0;
    &:hover,
    :focus :active {
      color: $primary-300;
      background-color: $secondary-500;
    }
  }
}

.facebook-icon {
  transition: fill 0.3s ease;
}

.facebook-icon:hover path {
  fill: #8b9dc3; /* New color on hover */
}

.hamburger-icon {
  cursor: pointer;
}
