/* Fonts */

@font-face {
  font-family: "Josefin Sans";
  src: url("/fonts/JosefinSans-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Genty";
  src: url("/fonts/GentyDemo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$josefin-sans: "Josefin Sans", Arial, Helvetica, sans-serif;
$genty: "Genty", Arial, Helvetica, sans-serif;
