/* General Styles */

@use "../variables/colors" as c;
@import "../globals/fonts";

$primary-50: map-get(map-get(c.$colors, primary), 50);
$primary-100: map-get(map-get(c.$colors, primary), 100);
$primary-300: map-get(map-get(c.$colors, primary), 300);
$secondary-100: map-get(map-get(c.$colors, secondary), 100);
$secondary-400: map-get(map-get(c.$colors, secondary), 400);

* {
  box-sizing: border-box;
}

html {
  background-color: $secondary-400;
  scroll-behavior: smooth !important;
  scroll-padding-top: 10rem;
}

body {
  background-color: $primary-50;
  margin: 0 auto;
  max-width: 1600px;
  min-height: 100vh;
  font-family: $josefin-sans;
  &::-webkit-scrollbar {
    display: none; // For Chrome, Safari, and Edge
  }
}

body.dark-mode {
  background-color: $primary-300;
  color: $primary-50;
}

a {
  text-decoration: none;
  color: #4f453e;
}

.modal-overlay {
  background-color: #352e2e;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out 30ms;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  &--lighter {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.image-wrapper {
  .image-overlay {
    opacity: 0; /* Start hidden */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1.875rem;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }

  &:hover .image-overlay {
    opacity: 1; /* Show overlay on hover */
    pointer-events: auto;
  }
}
